<!DOCTYPE html>
<html lang="en" ng-app="flash">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <title>Document</title>
</head>
<body ng-controller="DeckController">
  <section ng-controller="StudyController">
    <div ng-if="cards.length" class="card">
      <p ng-if="front" class="front">{{ cards[current].front }}</p>
      <p ng-if="!front" class="back">{{ cards[current].back }}</p>
    </div>
    <p ng-if="!cards.length">All gone!</p>
  <button class="buttono" ng-click="back()" ng-disabled="!cards.length">Back</button>
  <button class="buttono" ng-click="next()" ng-disabled="!cards.length">Next</button>
  <button class="buttono" ng-click="iGotIt()" ng-disabled="!cards.length">Got it!</button>
  <button class="buttono" ng-click="reset()">Reset</button>
  </section>
  <script src="./app.js"></script>
</body>
</html>
