.card p {
  display: inline-block;
  border: 4px outset red;
  height: 100px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  box-shadow: 5px 5px 2px #888888;
  border-radius: 10px;
}

.card .back {
  border-color: blue;
  background-image: url("http://designlovr.com/examples/dynamic_stack_of_index_cards/images/card_bg.jpg");
}

h6 {
  display: inline;
  float: left;
  left: 15px;
  position: relative;
}

button {
  display: inline-block;
}

textarea {
  resize: none;
  border-radius: 10px;
  box-shadow: 3px 3px 1px #888888;
  background-size: contain;
}

textarea#frontadd {
  border: 2px solid red;
}

textarea#backadd {
  border: 2px solid blue;
  background-image: url("http://designlovr.com/examples/dynamic_stack_of_index_cards/images/card_bg.jpg");
}
